{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="flex flex-wrap gap-8">
        {% for company in companies %}
            <a href="#">
                <div class="bg-zinc-900 h-32 w-52 rounded-lg shadow-lg flex justify-center items-center text-2xl p-4 relative">
                    {{ company.company }}

                    <span class="absolute top-[-5px] right-[-5px] flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-orange-600 rounded-full">
                    {{ company.messages }}
                </span>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
