{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="fixed top-0 right-0 h-12 bg-zinc-600 w-full shadow-lg flex items-center px-12">
        <a href="{{ path('embed') }}" class="ml-1 text-sm font-medium hover:text-green-600 md:ml-2 text-zinc-800">&#60;Embed&#47;&#62;</a>
    </div>

    <div class="flex flex-wrap gap-8 mt-12">
        {% for domain in domains %}
            <a href="{{ path('domain', {'domain': domain.domain }) }}">
                <div class="bg-zinc-900 h-32 w-96 rounded-lg shadow-lg flex justify-center items-center text-2xl p-4 relative">
                    <p class="break-all">{{ domain.domain }}</p>

                    <span class="absolute top-[-5px] right-[-5px] flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-orange-600 rounded-full">
                        {{ domain.messages }}
                    </span>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
